@import "tailwindcss";
/* 
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
body{
background:#f5f7fb;
font-family:Arial, Helvetica, sans-serif;
}

.results-container{
max-width:1100px;
margin:auto;
padding:30px;
}

.title{
margin-bottom:20px;
}

.hero-header {
  width: 100%;
  height: 380px;
  position: relative;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  bottom: 230px;
  left: 50%;
  transform: translateX(-50%);

  color: white;
  font-size: 42px;
  font-weight: bold;

  text-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.hero-subtitle {
  position: absolute;
  bottom: 210px;
  left: 50%;
  transform: translateX(-50%);

  color: white;
  font-size: 20px;

  text-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.flight-form {
  max-width: 750px;
  margin: 10px auto;

  background: white;
  padding: 35px;

  border-radius: 16px;

  box-shadow:
  0 20px 60px rgba(0,0,0,0.15),
  0 5px 15px rgba(0,0,0,0.08);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.flight-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 15px;
  width: 100%;
}

.flight-form input:focus {
  outline: none;
  border-color: #00a8e8;
}

.flight-form button {
  grid-column: span 2;

  padding: 14px;

  background: linear-gradient(135deg,#00c6ff,#0072ff);

  color: white;
  font-size: 18px;

  border-radius: 10px;
  border: none;

  cursor: pointer;
}

.flight-form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.tabs{
    display:flex;
    justify-content: center;
    gap:10px;
    margin-bottom: 20px;
}

.tab{
padding:12px 22px;
border:none;
border-radius:8px;
background:#eaeaea;
cursor:pointer;
font-weight:600;
}

.tab:hover{
    background: #e0e0e0;
}

.tab.active{
  background:#4b80bd;
  color:white;
}

.flights-container{
  display: grid;
  grid-template-columns:1fr;
  gap:20px;
} 

.flight-card{
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow:0 4px 15px rgba(0,0,0,0.08);
}

.flight-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 20px;
}

.price{
  font-size: 20px;
  font-weight: bold;
  color:#0a66ff
}

.flight-route{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.airport{
  text-align: center;
}

.time{
  font-weight: bold;
  font-size: 18px;
}

.arrow{
  flex:1;
  text-align: center;
  font-size: 20px;
}

.flight-info{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  font-size: 14px;
  color: #555;
  margin-top: 10px;
}

.flight-direction{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
}

.divider{
  height: 1px;
  background: #eee;
  margin: 15px 0; 
}

.hotels-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(350px,1fr));
  gap:20px;
}

.hotel-card{
  background:white;
  overflow: hidden;
  border-radius:12px;
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.hotel-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:10px;
}

.hotel-info{
padding:15px;
}

.rating{
color:#8d877f;
}

.location{
color:#777;
font-size:14px;
}

.hotel-info .price{
font-size:20px;
font-weight:bold;
color:#0a66ff;
margin-top:10px;
}

